<%- include layouts/header.ejs %>

<div class="card-body">
    <form method="post" action="/employees/edit/<%=data[0].id%>">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control"  name="name" value="<%=data[0].name%>"  required >
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <textarea type="text"  class="form-control"  name="address" required ><%=data[0].address%></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control"  name="email" required value="<%=data[0].email%>" >
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control"  name="phone" value="<%=data[0].phone%>" required >
            </div>
        </div>
    <input class="btn btn-primary" type="submit" name="submit" value="Save">
    <input type="button" name="cancel" value="Cancel" class="btn btn-secondary" onClick="cancelAdd()">
    </form>
</div>

<%- include layouts/footer.ejs %>